@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    font-family: 'Secular One', sans-serif;
}


body {
    background-size: 2000px 2000px;
    background-color: rgb(44, 52, 68);
    background-repeat:no-repeat;
    
   }

@keyframes animation {
    from {position: absolute;
          top: 300px;
          left: 490px;
          width: 500px;
          height: 500px;}
    to {position: absolute;
        top: 300px;
        left: 490px;
        width: 500px;
        height: 500px;}
  }


.cookie {
          position: absolute;
          top: 300px;
          left: 490px;
          width: 500px;
          height: 500px;
          -ms-user-select: None;
          -moz-user-select: None;
          -webkit-user-select: None;
          user-select: None; 

    
    
}

.cookieanimation {
    animation-name:animation;
    animation-duration:0.5s;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
    

    
    
}


.shop1 {
    position: absolute;
    top: 230px;
    left: 1700px;
    z-index:1;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}

.shop2 {
    position: absolute;
    top: 380px;
    left: 1700px;
    z-index:1;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}

.Counter {
    position: absolute;
    top: 50px;
    left: 560px;
    width: 600px;
    height: 100px;
    color: #fdfafa;
    font-size: 400%;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

}

.Preis1 {
    position: absolute;
    top: 200px;
    left: 1550px;
    width: 600px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-size: 300%;
    z-index:1;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

    
}

.Preis2 {
    position: absolute;
    top: 350px;
    left: 1550px;
    width: 600px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-size: 300%;
    z-index:1;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

    
}

.s {
    position: absolute;
    top: 200;
    left: 1520px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

    
}

.b {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    top: 21%;
    left: 1505px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

}
.a{
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
ul.main {
    position: sticky;
    text-align: left;
    -webkit-position-: sticky;
    padding: 0;
    top: 0;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 

}
.main li {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li a {
    display: block;
    padding: .5em;
    min-width: 1.28571429em;
    max-width: 1.28571429em;
    height: 1.28571429em;
    white-space: nowrap;
    line-height: 1.5em;
    transition: .5s;
    text-decoration: none;
    color: #000;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li i {
    margin-right: .5em;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}
.main li:hover a {
    max-width: 200px;
    padding-right: 1em;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None; 
}


